<a href="https://colab.research.google.com/github/rizkyirw/Analitika-Media-Sosial/blob/main/Ambil_Twitter_Lanjutan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import sys
sys.path.append('/content/drive/My Drive/File AMS2023')

Mounted at /content/drive

In [2]:
import pandas as pd
import time
import tweepy
import numpy as np

In [3]:
#ganti dari essential ke lbh tinggi 
def twitter_config():
    """
    Fungsi utilitas untuk mengkonfigurasi konsumsi file API Twitter dengan␣
    ,!kunci yang disediakan.
    """
    # Otentikasi dan akses menggunakan kunci:
    auth = tweepy.OAuthHandler("uo7TnXaPXc7XEKPjtYzBxAgSQ",
    "fzoh5uM4DuWG51E1do0NczbBpFV8I2O2ELv3Y96zOYgfCvnWuU")
    auth.set_access_token("1297826686537314305-JgTLMS6gD58MJraG0BZ8RJIdhyX74h",
    "jKPCuurX09saOGVFLb44ASn1aumQgtLtSkjbPbHAGzOZx")
    # Kembalikan akses ke API:
    api = tweepy.API(auth)
    try:
        api.verify_credentials()
        print("Authentication OK")
    except:
        print("Error during authentication")
    return api

In [4]:
# buat extractor object
extractor = twitter_config()

Authentication OK

### mengambil tweet secara komplet dari username

In [6]:
tweets = []

def username_tweets_to_csv(username,count):
    try:      
        # Creation of query method using parameters
        tweets = tweepy.Cursor(extractor.user_timeline,id=username).items(count)

        # Pulling information from tweets iterable object
        tweets_list = [[tweet.created_at, tweet.id, tweet.text, tweet.source, tweet.favorite_count, tweet.retweet_count] for tweet in tweets]

        # Creation of dataframe from tweets list
        # Add or remove columns as you remove tweet information
        tweets_df = pd.DataFrame(tweets_list,columns=['Datetime', 'Tweet Id', 'Text','Source','Likes', 'RT'])

        # Converting dataframe to CSV 
        tweets_df.to_csv('/content/drive/My Drive/File AMS2023/{}-tweets.csv'.format(username), sep=',', index = False)

    except BaseException as e:
          print('failed on_status,',str(e))
          time.sleep(3)

In [7]:
# Input username to scrape tweets and name csv file
# Max recent tweets pulls x amount of most recent tweets from that user
username = 'JeromePolin'
count = 200

# Calling function to turn username's past X amount of tweets into a CSV file
username_tweets_to_csv(username, count)

### mengambil berdasarkan search berdasarkan query

In [10]:
tweets = extractor.search(q="belajar", lang="id", rpp=200)
print("Tweets terambil: {}.\n".format(len(tweets)))

Tweets terambil: 13.

In [11]:
dataset_search = pd.DataFrame(data=[tweet.text for tweet in tweets], columns=['Tweets'])

# Kami membuat tampilan kerangka data:
display(dataset_search.head(16))

                                               Tweets
0   @biru_navy Yang gratis juga bisa belajar di Di...
1                               minat belajar menurun
2   RT @cocachele: jadi org dewasa emg harus belaj...
3   @Abu_Hafiiz @LikParjo @gr8diazm @maspiyuaja be...
4   Sedang belajar dan masih terus akan belajar bu...
5   RT @SerieA_ID: Hari Rabu berarti saatnya kita ...
6   @TaleOfYours Soalnya dulu belajar membacanya d...
7   RT @inibeneranuna: emang saya orang nya tidak ...
8   RT @LekKacung: Kita harus berani belajar Sejar...
9   RT @angga_fzn: Project Management 101\n\nBuat ...
10  RT @warungsastra: Sekarang kita telah belajar ...
11  RT @myskill_id: BELAJAR INTERVIEW KERJA BAHASA...
12  @therampagefext\n#THERAMPAGE\n#ツナゲキズナ\n#RMPG_キ...

### pencarian query komplet

In [12]:
tweets = []

def text_query_to_csv(text_query,count):
    try:
        # Creation of query method using parameters
        tweets = tweepy.Cursor(extractor.search,q=text_query).items(count)

        # Pulling information from tweets iterable object
        tweets_list = [[tweet.created_at, tweet.id, tweet.text, tweet.source, tweet.favorite_count, tweet.retweet_count] for tweet in tweets]

        # Creation of dataframe from tweets list
        # Add or remove columns as you remove tweet information
        tweets_df = pd.DataFrame(tweets_list,columns=['Datetime', 'Tweet Id', 'Text','Source','Likes', 'RT'])

        # Converting dataframe to CSV 
        tweets_df.to_csv('/content/drive/My Drive/File AMS2023/{}-tweets.csv'.format(text_query), sep=',', index = False)

    except BaseException as e:
        print('failed on_status,',str(e))
        time.sleep(3)

In [13]:
# Input search query to scrape tweets and name csv file
# Max recent tweets pulls x amount of most recent tweets from that user
text_query = 'belajar'
count = 1000

# Calling function to query X amount of relevant tweets and create a CSV file
text_query_to_csv(text_query, count)

### Search pakai tagar komplet

In [14]:
# Input search query to scrape tweets and name csv file
# Max recent tweets pulls x amount of most recent tweets from that user
text_query = '#Jerome'
count = 1000

# Calling function to query X amount of relevant tweets and create a CSV file
text_query_to_csv(text_query, count)

### Pencarian Trend

In [15]:
# woeid indonesia
woeid = 23424846

In [16]:
trends_result = extractor.trends_place(woeid)

In [17]:
dataset_trends = pd.DataFrame(data=[trend["name"] for trend in trends_result[0]["trends"]], columns=['trends'])

# Kami membuat tampilan kerangka data:
display(dataset_trends.head(20))

                   trends
0        #7YearsWith9WICE
1        #트와이스와_원스의_소중한7년
2                #Mainnet
3                 #Wallet
4                #Martian
5   Twice 7th Anniversary
6    THE ASTRONAUT POSTER
7                 Ginting
8       BOYS LIKE YOU D-1
9               Happy 7th
10                Minions
11               Mountain
12                chaewon
13     CASE143 FOURTH WIN
14                  Beach
15                 winwin
16    VOTE BTS OR LOSE IT
17           bintang emon
18                   Koga
19                 Alergi

### ambil berdasarkan search dengan modul komplet dan berdasar lokasi indonesia

In [18]:
tweets = []

def text_query_location_to_csv(text_query,searchCountry, count):
    try:
        # Creation of query method using parameters
        
        places = extractor.geo_search(query=searchCountry, granularity="country")
        place_id = places[0].id
        
        
        tweets = tweepy.Cursor(extractor.search,q='{} place:{}'.format(text_query, place_id)).items(count)

        # Pulling information from tweets iterable object
        tweets_list = [[tweet.created_at, tweet.id, tweet.place.name, tweet.text, tweet.source, tweet.favorite_count, tweet.retweet_count] for tweet in tweets]

        # Creation of dataframe from tweets list
        # Add or remove columns as you remove tweet information
        tweets_df = pd.DataFrame(tweets_list,columns=['Datetime', 'Tweet Id', 'Lokasi', 'Text','Source','Likes', 'RT'])

        # Converting dataframe to CSV 
        tweets_df.to_csv('/content/drive/My Drive/File AMS2023/{}-{}-tweets.csv'.format(text_query,searchCountry), sep=',', index = False)

    except BaseException as e:
        print('failed on_status,',str(e))
        time.sleep(3)

In [19]:
# Input search query to scrape tweets and name csv file
# Max recent tweets pulls x amount of most recent tweets from that user
text_query = 'kenaikan bbm'
count = 500
country= 'Indonesia'

# Calling function to query X amount of relevant tweets and create a CSV file
text_query_location_to_csv(text_query, country, count)

### ambil berdasarkan search dengan modul komplet dan berdasar lokasi Kota
- karena orang indonesia jarang menghidupkan lokasi untuk twitter, maka luaran tidak stabil (no results)

In [20]:
tweets = []

def text_query_city_to_csv(text_query,searchCity, count):
    try:
        # Creation of query method using parameters
        
        places = extractor.geo_search(query=searchCity, granularity="city")
        place_id = places[0].id
        
        
        tweets = tweepy.Cursor(extractor.search,q='{} place:{}'.format(text_query, place_id)).items(count)

        # Pulling information from tweets iterable object
        tweets_list = [[tweet.created_at, tweet.id, tweet.place.name, tweet.text, tweet.source, tweet.favorite_count, tweet.retweet_count] for tweet in tweets]

        # Creation of dataframe from tweets list
        # Add or remove columns as you remove tweet information
        tweets_df = pd.DataFrame(tweets_list,columns=['Datetime', 'Tweet Id', 'Lokasi', 'Text','Source','Likes', 'RT'])

        # Converting dataframe to CSV 
        tweets_df.to_csv('/content/drive/My Drive/File AMS2023/{}-{}-tweets.csv'.format(text_query,searchCity), sep=',', index = False)

    except BaseException as e:
        print('failed on_status,',str(e))
        time.sleep(3)

In [21]:
# Input search query to scrape tweets and name csv file
# Max recent tweets pulls x amount of most recent tweets from that user
text_query = 'kenaikan harga barang'
count = 500
city= 'Jakarta'

# Calling function to query X amount of relevant tweets and create a CSV file
text_query_city_to_csv(text_query, city, count)